/CocktailKir/Library
/CocktailKir/Temp
/CocktailKir/obj
/CocktailKir/Assembly-CSharp-Editor.csproj
/CocktailKir/CocktailKir.sln
/CocktailKir/CocktailKir.suo
/CocktailKir/Assembly-CSharp.csproj
CocktailKir/CocktailKir.CSharp.Editor.csproj
CocktailKir/CocktailKir.CSharp.csproj
CocktailKir/CocktailKir.CSharp.Plugins.csproj
